@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5e5a5a;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0480b0;
}
